In [8]:
from google.cloud import pubsub_v1

In [9]:
%env PUBSUB_EMULATOR_HOST=localhost:8085

env: PUBSUB_EMULATOR_HOST=localhost:8085

## Setup the variables

In [10]:
PROJECT_ID="immo-api" 
TOPIC="extraction"       
SUBSCRIPTION="extractor"  

publisher = pubsub_v1.PublisherClient() 
subscriber = pubsub_v1.SubscriberClient() 

subscription_path = subscriber.subscription_path(PROJECT_ID, SUBSCRIPTION) 
topic_path = publisher.topic_path(PROJECT_ID, TOPIC)

In [11]:
subscription_path

'projects/immo-api/subscriptions/extractor'

In [12]:
topic_path

'projects/immo-api/topics/extraction'

## Create the topic

In [14]:
publisher.create_topic(topic_path)

TypeError: Invalid constructor input for Topic: 'projects/immo-api/topics/extraction'

In [ ]:
subscriber.create_subscription(subscription_path, topic_path)

In [17]:
import pandas as pd
df = pd.DataFrame({'name': ['Olivia','Dean','Alex','Jon','Tom','Jane','Kate'],
           'age': [32,23,45,35,20,28,55],
           'sex':['female', 'male','male','male','male','female','female']})

In [22]:
df.set_index("name", inplace = True)

In [23]:
df

        age     sex
name
Olivia   32  female
Dean     23    male
Alex     45    male
Jon      35    male
Tom      20    male
Jane     28  female
Kate     55  female

In [26]:
df = df.append(pd.Series({'age': 28, 'sex': 'male'}, name='Mathieu'))

In [27]:
df

         age     sex
name
Olivia    40  female
Dean      23    male
Alex      45    male
Jon       35    male
Tom       20    male
Jane      28  female
Kate      55  female
Mathieu   28    male

In [28]:
df.at['Mathieu', 'age'] = 40

In [29]:
df

         age     sex
name
Olivia    40  female
Dean      23    male
Alex      45    male
Jon       35    male
Tom       20    male
Jane      28  female
Kate      55  female
Mathieu   40    male